@charset "UTF-8";
@font-face {
  font-family: "Icons";
  src: url("../fonts/icons/Icons.eot");
  src: url("../fonts/icons/Icons.eot?#iefix") format("eot"), url("../fonts/icons/Icons.woff") format("woff"), url("../fonts/icons/Icons.ttf") format("truetype"), url("../fonts/icons/Icons.svg#Icons") format("svg"); }

.icon-cart:before, .icon-delivery:before, .icon-package:before {
  font-family: "Icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  font-size: 32px; }

.icon-cart:before {
  content: ""; }

.icon-delivery:before {
  content: ""; }

.icon-package:before {
  content: ""; }
